<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-inner">
    <header class="article-header">
      <%- partial('post/title', {class_name: 'article-title'}) %>
      
      <% if (index) { %>
        <%- partial('post/tag') %> 
      <% } %>
    </header>

    <%# This is the part you were missing %>
    <% if (!index) { %>
      <div class="article-entry" itemprop="articleBody">
        <%- post.content %>
        <%- partial('post/tag') %> 
      </div>
    <% } %>

  </div>
</article>